 html {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
 }
 
 body {
  margin: 0;
  font-family: neonFont; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111;
  font-size: 1.5rem;
  color: white;
  box-sizing: border-box;
  overflow-y: hidden;
  position: relative;
}

@font-face {
  font-family: neonFont;
  src: url("./font/KosanNonCommercial.otf") format("opentype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes pullLeverHead {
  50% {
      margin-top: 75px;
  }
}

.PullLeverHead {
  animation: pullLeverHead 1s ease-in-out;
}


@keyframes pullLever {
  50% {
    margin-top: 42px;
    transform: scaleY(-1);
  }
}

.PullLever {
  animation: pullLever 1s ease-in-out;
}

@keyframes shineColor1 {
  50% {
    box-shadow: 0 0 7px #ff00ff, inset 0 0 7px #ff00ff;
  }
}

.shineColor1 {
  animation: shineColor1 1s ease-in-out infinite;
}

@keyframes zoom {
  50% {
    transform: scale(1.1);
  }
}

@keyframes blur {
  0% {
    opacity: 0;
    filter: blur(20px);
  }

  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

.zoom {
  animation: zoom 0.5s ease-in-out;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(51, 51, 51); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(41, 41, 41); 
  border-radius: 1.5px;
  z-index: 10;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(85, 85, 85);  
}
